h1 {
	font-size: 30px;
}
.js-info-stats {
	padding: 10px;
	background: #dedede;
}
table {
	width: 100%;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	th, td {
		border-right: 1px solid #333;
		border-bottom: 1px solid #333;
		padding: 2px 5px;
	}
	th {
		background: #333;
		color: #fff;
	}
}

label {
	display: block;
}
select,input[type="text"],textarea {
	padding: 5px 10px;
	display: block;
	width: 100%;
	resize: none;
}
.footer {
	border-top: 2px solid #999;
	padding: 10px 0;
	margin: 30px 0 0 0;
	img {
		float: left;
		margin: 0 10px 10px 0;
	}
}
.js-info-stats {
	h3 {
		margin: 0;
		padding: 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
}

.js-alert-container {
	margin-top: 20px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.fade.in {
  opacity: 1;
}

fieldset {
	border: solid 1px #ddd;
	padding: 15px;
	margin: 15px 0 0 0;
}
.full-width {
	width: 100%;
}
.header-bar {
	background: #333;
	color: #fff;
	a {
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}

.action-bar {
	background: #666;
	color: #fff;
	padding: 5px 0;
}

legend {
	border: none;
	display: inline;
	width: auto;
	padding: 0 20px;
	margin: 0;
}
.color-red {
	color: #d9534f;
}
.color-green {
	color: #5cb85c;
}
.color-blue {
	color: #428bca;
}
.js-smarty-comment {
	color: #ccc;
	strong {
		color: #fcfcfc;
	}
}
